@model IEnumerable<EmployeeManagement.DataAccess.ActiveTask>

@{
    Layout = "_layout";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Task)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Employee)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EmployeeCurrentRate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TaskStartDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TaskEndDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TimeCompleted)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Task.TaskDesc)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Employee.EmployeeEmail)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EmployeeCurrentRate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TaskStartDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TaskEndDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TimeCompleted)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.WIPID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.WIPID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.WIPID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
</body>
</html>
